<main>
    <mat-card class="list-card">
        <app-back-button></app-back-button>
        <mat-card-header *ngIf="groupName">
            <mat-card-title>
                <div class="list-name-container">
                    <h1 *ngIf="!isEditing">{{ groupName }}</h1>
                    <div *ngIf="!isEditing">
                        <button mat-icon-button (click)="enterEditMode()">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="isEditing" class="list-card-editing">
                        <input matInput type="text" [(ngModel)]="editedGroupName" #listNameInput
                            [ngModelOptions]="{ standalone: true }" (keyup)="replaceSpacesWithUnderscores($event)"/>
                        <button mat-icon-button color="primary" (click)="updateGroupName(editedGroupName)">
                            <mat-icon>done</mat-icon>
                        </button>
                        <button mat-icon-button (click)="isEditing = false">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <section *ngIf="groupMembers && groupMembers.length > 0">
                <div class="members-container">
                    <h2>Members ({{ groupMembers.length }})</h2>
                    <button mat-icon-button color="primary" (click)="addMember()">
                        <fa-icon [icon]="faCirclePlus" />
                    </button>
                </div>

                <mat-list>
                    <mat-list-item *ngFor="let member of groupMembers">
                        <button mat-icon-button color="warn" (click)="deleteMember(member)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <span class="group-members">{{ member.username }}</span>
                    </mat-list-item>
                </mat-list>
            </section>

            <section *ngIf="groupList && groupList.length > 0">
                <h2>List</h2>
                <p routerLink="/profile/list/{{ groupList[0].id }}">
                    <button mat-icon-button color="primary" (click)="updateGroupList($event)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    {{ groupList[0].name }}
                </p>
            </section>
        </mat-card-content>
    </mat-card>
</main>