<main>
    <mat-card class="list-card">
        <div class="list-card-header" *ngIf="groupData.name">
            <div class="list-name-container">
                <h1 *ngIf="!isEditing">
                    <fa-icon [icon]="faUsers"></fa-icon>
                    {{ groupData.name }}
                </h1>
                <ng-container *ngIf="groupData.isAdmin">
                    <div *ngIf="!isEditing">
                        <button mat-icon-button (click)="enterEditMode()">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="isEditing" class="list-card-editing">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" [(ngModel)]="editedGroupName" #listNameInput
                                [ngModelOptions]="{ standalone: true }"
                                (keyup)="replaceSpacesWithUnderscores($event)" />
                        </mat-form-field>
                        <button mat-icon-button color="primary" (click)="updateGroupName(editedGroupName)">
                            <mat-icon>done</mat-icon>
                        </button>
                        <button mat-icon-button (click)="isEditing = false">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </ng-container>
            </div>
            <span class="group-code" (click)="copyGroupCode($event, groupData.code)" matTooltip="Click to copy">
                Code: {{ groupData.code }}
            </span>
        </div>

        <mat-card-content class="group-content">
            <mat-expansion-panel class="members-panel" *ngIf="groupMembers && groupMembers.length > 0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="members-container">
                            <h2>Members ({{ groupMembers.length }})</h2>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-chip-listbox>
                    <mat-chip color="primary" *ngFor="let member of groupMembers">
                        {{ member.username }}
                    </mat-chip>
                </mat-chip-listbox>
            </mat-expansion-panel>

            <button mat-raised-button 
                *ngIf="groupData.isAdmin && hasMediaWithVotes()" 
                color="primary" 
                (click)="resetVotes()"
                class="reset-votes-button">
                Reset the votes
            </button>

            <ng-container *ngIf="!groupData.hasVoted; else mediaTableView">
                <app-choosing-game />
            </ng-container>

            <ng-template #mediaTableView>
                <app-media-table-view [mediaItems]="groupMedia" />
            </ng-template>
        </mat-card-content>
    </mat-card>
</main>