<main>
    <mat-card class="auth-card">
        <mat-card-header>
            <mat-card-title>
                <h1>Register</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="auth-card-content">
            <button mat-raised-button color="primary" (click)="onRegister()" [disabled]="isLoading">
                <mat-spinner diameter="20" *ngIf="isLoading"></mat-spinner>
                <span *ngIf="!isLoading">Register with External Service</span>
            </button>
            <p>Already have an account? <a routerLink="/auth/login" [class.disabled]="isLoading">Login</a></p>
        </mat-card-content>
    </mat-card>
</main>