<main>
    <mat-card class="profile-card" *ngIf="userProfile">
        <mat-card-header class="profile-card-title">
            <mat-card-title>
                <h1>
                    Hello
                    <span *ngIf="userProfile.username">{{ userProfile.username }}</span>
                </h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <mat-list>
                <mat-list-item>
                    <h2 class="category-title">Favorites</h2>
                </mat-list-item>
                <ng-container *ngIf="userProfile.MediaItems?.length; else noFavs">
                    <mat-list-item *ngFor="let fav of userProfile.MediaItems">
                        <button mat-icon-button color="warn" (click)="removeFromFavorites(fav)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <span matLine [routerLink]="['/media/detail', fav.mediaType, fav.tmdbId]"
                            class="list-element list-element-link">{{ fav.title }}</span>
                    </mat-list-item>
                </ng-container>
                <ng-template #noFavs>
                    <mat-list-item>
                        <span class="list-element">No favorites</span>
                    </mat-list-item>
                </ng-template>
            </mat-list>

            <mat-list>
                <mat-list-item>
                    <div class="category-container">
                        <h2 class="category-title">Group(s)</h2>
                        <button mat-icon-button color="primary" (click)="createGroup()">
                            <fa-icon [icon]="faCirclePlus" />
                        </button>
                    </div>
                </mat-list-item>
                <ng-container *ngIf="userProfile.Groups?.length; else noGroups">
                    <mat-list-item *ngFor="let group of userProfile.Groups">
                        <button mat-icon-button color="warn" (click)="deleteGroup(group)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <span matLine routerLink="/profile/group/{{ group.id }}"
                            class="list-element list-element-link">{{ group.name }}</span>
                    </mat-list-item>
                </ng-container>
                <ng-template #noGroups>
                    <mat-list-item>
                        <span class="list-element">No groups</span>
                    </mat-list-item>
                </ng-template>
            </mat-list>

            <mat-list>
                <mat-list-item>
                    <div class="category-container">
                        <h2 class="category-title">List(s)</h2>
                        <button mat-icon-button color="primary" (click)="createList()">
                            <fa-icon [icon]="faCirclePlus" />
                        </button>
                    </div>
                </mat-list-item>

                <ng-container *ngIf="userProfile.Lists?.length; else noLists">
                    <mat-list-item *ngFor="let list of userProfile.Lists">
                        <button mat-icon-button color="warn" (click)="deleteList(list)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <span matLine routerLink="/profile/list/{{ list.id }}" class="list-element list-element-link">{{
                            list.name }}</span>
                    </mat-list-item>
                </ng-container>
                <ng-template #noLists>
                    <mat-list-item>
                        <span class="list-element">No lists</span>
                    </mat-list-item>
                </ng-template>
            </mat-list>
        </mat-card-content>
    </mat-card>
</main>