@if (routerLink) {
<a
  class="create-card"
  [routerLink]="routerLink"
  [attr.aria-label]="ariaLabel || title"
>
  <div class="create-icon">
    <span class="material-symbols-outlined">{{ icon }}</span>
  </div>
  <h3 class="create-title">{{ title }}</h3>
  @if(description) {
  <p class="create-description">{{ description }}</p>
  }
</a>
} @else {
<div
  class="create-card"
  role="button"
  tabindex="0"
  (click)="onClick()"
  (keydown)="onKeydown($event)"
  [attr.aria-label]="ariaLabel || title"
>
  <div class="create-icon">
    <span class="material-symbols-outlined">{{ icon }}</span>
  </div>
  <h3 class="create-title">{{ title }}</h3>
  @if(description) {
  <p class="create-description">{{ description }}</p>
  }
</div>
}
