<main>
    <mat-card class="auth-card">
        <mat-card-header class="auth-card-title">
            <mat-card-title>
                <h1>
                    {{ isLoggedIn ? 'Welcome back!' : 'Login' }}
                </h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="auth-card-content">
            <ng-container *ngIf="isLoggedIn">
                <button mat-raised-button color="warn" (click)="onLogout()" [disabled]="isLoading">
                    <mat-spinner diameter="20" *ngIf="isLoading"></mat-spinner>
                    <span *ngIf="!isLoading">Logout</span>
                </button>
            </ng-container>

            <section *ngIf="!isLoggedIn">
                <button mat-raised-button color="primary" (click)="onLogin()" [disabled]="isLoading">
                    <mat-spinner diameter="20" *ngIf="isLoading"></mat-spinner>
                    <span *ngIf="!isLoading">Login with External Service</span>
                </button>
                <p>Don't have an account? <a routerLink="/auth/register" [class.disabled]="isLoading">Register</a></p>
            </section>
        </mat-card-content>
    </mat-card>
</main>