<mat-toolbar class="toolbar" color="primary">
    <span class="toolbar__title" routerLink="/">Flick Pick</span>
    <span class="spacer"></span>
    <div class="toolbar__links">
        <a mat-button routerLink="/media">Search</a>
        <a mat-button routerLink="/profile">Profile</a>
        <a mat-button routerLink="/auth" *ngIf="!isLoggedIn">Login</a>
        <a mat-button (click)="onLogout()" *ngIf="isLoggedIn">Logout</a>
    </div>
    <button mat-icon-button class="hamburger-button" (click)="toggleDrawer()">
        <mat-icon>menu</mat-icon>
    </button>

    <div *ngIf="isDrawerOpen" class="drawer">
        <mat-list class="drawer__list">
            <a mat-list-item routerLink="/media" (click)="toggleDrawer()">Search</a>
            <a mat-list-item routerLink="/profile" (click)="toggleDrawer()">Profile</a>
        </mat-list>
    </div>
</mat-toolbar>