<main>
    <mat-card class="list-card">
        <app-back-button></app-back-button>
        @if (listName) {
            <mat-card-header>
                <mat-card-title>
                    <div class="list-name-container">
                        @if (!isEditing) {
                            <h1>{{ listName }}</h1>
                        }
                        @if (!isEditing) {
                            <div>
                                <button mat-icon-button (click)="enterEditMode()">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        }
                        @if (isEditing) {
                            <div class="list-card-editing">
                                <input matInput type="text" [(ngModel)]="editedListName" #listNameInput
                                    [ngModelOptions]="{ standalone: true }" (keyup)="replaceSpacesWithUnderscores($event)"/>
                                <button mat-icon-button color="primary" (click)="updateListName(editedListName)">
                                    <mat-icon>done</mat-icon>
                                </button>
                                <button mat-icon-button (click)="isEditing = false">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </div>
                        }
                    </div>
                </mat-card-title>
            </mat-card-header>
        }
        @if (!movies && !tvShows) {
            <p class="empty">This list is empty.</p>
        }
        @if (movies || tvShows) {
            <mat-card-content>
                @if (movies.length > 0) {
                    <h2>Movies</h2>
                    <app-media-table-view [mediaItems]="movies"></app-media-table-view>
                }
                @if (tvShows.length > 0) {
                    <h2>TvShows</h2>
                    <app-media-table-view [mediaItems]="tvShows"></app-media-table-view>
                }
            </mat-card-content>
        }
    </mat-card>
</main>