.table-img-container
    display: flex
    padding-top: 1rem
    padding-bottom: 1rem

.media-table-img
    width: 150px

.table-view-container
    border-radius: 8px
    overflow: hidden

.star-container
    display: flex
    flex-direction: row-reverse
    justify-content: center
    align-items: center

    .star-icon
        color: gray // Default star color
        cursor: pointer
        transition: color 0.2s ease-in-out
        font-size: 1.2rem

        &:hover
            color: gold // Change color to gold on hover

        &:hover ~ .star-icon
            color: gold

    &:not(:hover)
        & .star-icon.active
            color: gold

        & .star-icon.active ~ .star-icon
            color: gold

.td-link:hover
    cursor: pointer

.rank-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 0.5rem

    .winner-icon
        color: gold
        font-size: 1.5rem

.mobile-only
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 2rem

    .mobile-container
        background-color: #fff
        color: black
        border-radius: 8px
        padding: 1rem
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-end

        .winner-icon
            position: absolute
            top: -15px
            left: -20px
            color: gold
            font-size: 1.5rem
            background-color: #fff
            z-index: 999
            padding: 8px
            border-radius: 50px
            border: 2px solid gold

    .img-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 1rem
        width: fit-content

    img
        width: 100%

@media screen and (min-width: 768px)
    .mobile-only
        display: none

@media screen and (max-width: 768px)
    .desktop-only
        display: none
