<table mat-table [dataSource]="mediaItems" class="mat-elevation-z8 table-view-container">
    <!-- Poster column -->
    <ng-container matColumnDef="poster">
        <td mat-cell *matCellDef="let mediaItem" class="table-img-container">
            <img class="media-table-img" [src]="'https://image.tmdb.org/t/p/w300' + mediaItem.posterPath"
                alt="{{ mediaItem.title }} poster">
        </td>
    </ng-container>

    <!-- Title column -->
    <ng-container matColumnDef="title">
        <td mat-cell *matCellDef="let mediaItem">{{ mediaItem.title }} ({{ mediaItem.releaseDate | date: 'yyyy' }})</td>
    </ng-container>

    <!-- Overview column -->
    <ng-container matColumnDef="overview">
        <td mat-cell *matCellDef="let mediaItem">{{ mediaItem.overview }}</td>
    </ng-container>

    <!-- Delete column -->
    <ng-container matColumnDef="delete">
        <td mat-cell *matCellDef="let mediaItem">
            <button mat-icon-button color="warn" (click)="deleteMediaItem(mediaItem)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-row *matRowDef="let mediaItem; columns: ['poster', 'title', 'overview', 'delete']"></tr>
</table>