<main>
    <mat-card class="groups-card">
        <mat-card-header>
            <div class="header-content">
                <mat-card-title>
                    <fa-icon [icon]="faUsers"></fa-icon>
                    Groups
                </mat-card-title>
                <div>
                    <button mat-icon-button color="primary" (click)="joinGroup()" matTooltip="Join a group">
                        <fa-icon [icon]="faUsers"></fa-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="createGroup()" matTooltip="Create a group">
                        <fa-icon [icon]="faCirclePlus"></fa-icon>
                    </button>
                </div>
            </div>
        </mat-card-header>
        <mat-card-content>
            @if (groups.length) {
                @for (group of groups; track group.id) {
                    <div class="list-item">
                        <div class="item-content" routerLink="/group/detail/{{ group.id }}">
                            <fa-icon [icon]="faUsers"></fa-icon>
                            <div class="item-info">
                                <span class="item-title">{{ group.name }}</span>
                                <button class="group-code" (click)="copyGroupCode($event, group.code)" (keydown.enter)="copyGroupCode($event, group.code)" tabindex="0" matTooltip="Click to copy">
                                    Code: {{ group.code }}
                                </button>
                            </div>
                            @if (group.isAdmin) {
                                <span class="media-type-badge">Admin</span>
                            }
                        </div>
                        @if (group.isAdmin) {
                            <button mat-icon-button color="warn" (click)="deleteGroup(group)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        }
                    </div>
                }
            } @else {
                <div class="empty-state">
                    <p>No groups yet. Create one to start watching together!</p>
                </div>
            }
        </mat-card-content>
    </mat-card>
</main>
