<section class="search-container">
    <div class="search-form-container">
        <form class="search-form" (ngSubmit)="search()">
            <mat-form-field appearance="fill">
                <mat-label>Search for movies or TV shows</mat-label>
                <input matInput type="text" [(ngModel)]="searchQuery" name="searchInput" autocomplete="off" />
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Search</button>
        </form>
    </div>

    <app-search-results [movies]="movies" [tvShows]="tvShows"></app-search-results>
</section>