.search-result-card
    height: 100%
    overflow: hidden
    background-color: #3f51b5
    cursor: pointer
    justify-content: space-between

    &:hover
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5)

    &__check-mark
        color: green
        position: absolute
        top: 10px
        left: 10px
        z-index: 10
        font-size: 30px

    &__poster
        width: 100%
        height: 270px
        object-fit: fill

.result-card-action
    display: flex
    justify-content: space-between

.overview
    text-align: center