.list-card {
    background-color: #181d39;
    position: relative;

    &-editing {
        display: flex;
        column-gap: 1rem;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}

.list-name-container {
    display: flex;
    align-items: center;

    h1 {
        flex: 1;
        margin-right: 10px;
    }

    input {
        flex: 1;
        font-size: 2em;
        font-weight: 700;
    }
}

.members-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.list-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 24px;

    p {
        font-style: italic;
    }
}

.group-header {
    justify-content: center;
}

.group-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}